/* Sidebar Styles */
.sidebar {
  width: 250px; /* Default sidebar width */
  color: white;
  padding: 10px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3498db; /* Blue sidebar background */
}

.sidebar-brand {
  font-size: 25px;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.sidebar-menu {
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.sidebar-item {
  margin-bottom: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: background 0.3s;
}

.sidebar-link:hover {
  background-color: rgb(214, 186, 186);
  border-radius: 10px;
}

.sidebar-link svg {
  margin-right: 10px;
}

/* Toggle Button - Always Visible */
.sidebar-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 110; /* Above sidebar */
  display: block; /* Always display toggle button */
}

/* Sidebar Hidden (when using toggle functionality) */
.sidebar.hide {
  transform: translateX(-100%); /* Hide sidebar */
}

/* Mobile Styling */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* Initially hide sidebar */
  }
  .sidebar.show {
    transform: translateX(0); /* Show sidebar when 'show' class is added */
  }
}
