.staff-header {
  background-color: #2f7df6;
  color: white;
  padding: 3px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.staff-nav {
  display: flex;
  justify-content: center;
  background-color: #2f7df6;
  padding: 8px;
}

.staff-nav a {
  color: white;
  text-decoration: none;
  padding: 3px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

.staff-nav a:hover {
  background-color: white;
  color: #2f7df6;
}
